<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @mails.each do |mail| %>
    <%= mail.object %>
    <% end %>
  </body>
</html>
