<header>
    <nav class="main-nav">
        <div class="main-nav__item">
            <a href="/" class="main-nav__logo-link">Emailer</a>
        </div>
        <ul class ="main-nav__links list-inline">
            <li><a href="#" class="ext-link">Boîte de réception</a></li>
            <li><a href="#" class="ext-link">Email +</a></li>
        </ul>
    </nav>
</header>
