<section class="emails-wrapper">
    <div class="container">
        <div class="emails-grid">
            <div class="emails-object">
                <p>Emails reçus (objets visibles)</p>
                <!-- AFFICHER ICI TOUS LES OBJETS DES EMAILS -->
                <ul>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                    <li class="emails-object-block"><a href="#" class="emails-object-link">TEST QUALI QUALI QUALI QUALI QUALI</a></li>
                </ul>
            </div>
            <div class="emails-body">
                <p>Détails de l'email</p>
                <!-- AFFICHER ICI LES EMAILS EN ENTIER -->
                <ul>
                    <li>TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST OUPS OUPS OUPS </li>
                    <li>TEST</li>
                    <li>TEST</li>
                    <li>TEST</li>
                    <li>TEST</li>
                    <li>TEST</li>
                    <li>TEST</li>
                    <li>TEST</li>
                    <li>TEST</li>
                    <li>TEST</li>
                    <li>TEST</li>
                </ul>
            </div>
        </div>
    </div>
</section>
